/** CSS STYLE **/

:root {
  --header-height: 60px;
  --gray-color: #f7f7f7;
  --light-color: #fff;
  --primary-color: #303846;
  --secondary-color: #09d3ac;
  --dark-gray-color: darkgray;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  color: var(--primary-color);
  font-size: 16px;
  font-family: Liberation Sans, sans-serif;
  line-height: 1.5;
}

.margin-top-header {
  margin-top: var(--header-height);
}

.display-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.font-bold {
  font-weight: bold;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.header-position {
  position: fixed;
  top: 0;
  left: 0;
}

.header-style {
  box-sizing: border-box;
  width: 100%;
  height: var(--header-height);
  padding: 5px 20px;

  background: var(--light-color);
}

.logo-small {
  max-width: 30px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-left-10 {
  padding-right: 10px;
}

.link {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 3em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;

  font-size: 1.8em;
}

.bg-moon {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.container {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  padding: var(--header-height) 0;
}

.text-light-color {
  color: var(--light-color);
}

.logo-big {
  max-width: 170px;
}

.btn {

  padding: 10px 20px;

  font-weight: bold;
  font-size: 1em;
  text-decoration: none;

  background-color: transparent;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}

.btn-light {
  color: var(--light-color);

  border-color: var(--light-color);
}

.btn-emerald {
  color: var(--secondary-color);

  border-color: var(--secondary-color);
}

.bg-grey {
  background: var(--gray-color);
}

.width-45 {
  width: 45%;
}

.width-30 {
  width: 30%;
}

.width-50 {
  width: 50%;
}

.legend {
  margin: 0 10px;

  color: var(--secondary-color);
  font-size: 22px;
}

.form-border {
  margin-bottom: 15px;
  padding: 20px;

  border: 2px solid var(--secondary-color);
}

.label {
  width: 200px;
}

.field {
  width: 220px;
  margin: 5px;
  padding: 5px;

  border: 1px solid var(--dark-gray-color);
  border-radius: 10px;
}

.bg-dark {
  background: var(--primary-color);
}
